/.cph
/.vscode
/build
/C++_Primer_Plus_6th_edition_EN.pdf
/Costly_Permutations.cpp
/effective-c++.pdf
/guide-t-cp.pdf
/Merry_Christmas.cpp
/src
/templateContainer.cpp
/templateContainer.exe
/testing.cpp
/testing.exe
/The_C++_Programming_Language_4th_Edition_Bjarne_Stroustrup.pdf